* {
    font-family: Helvetica;
}

.close_button {
    background:white;
    border-radius:20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid black;
}
.close_button:active {
    background: grey;
}

#fullframe {
	background-color: beige;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border-color: black;
    border-style: solid;
    border-width: 2px;    
    background-image: url("https://img00.deviantart.net/42c2/i/2013/154/5/b/grassy_field_stage_by_chocosunday-d67r3o0.png");
    background-repeat: no-repeat;
 
}

.bottom-left {
    background-color: whitesmoke;
    position: absolute;
    width: 60%;
    height: 150px;
    top: 450px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.bottom-left-text {
    background-color: whitesmoke;
    position: absolute;
    width: 90%;
    height: 120px;
    top: 13px;
    left: 20px;
   /* border-color: black;
    border-style: solid;
    border-width: 1px; */
}

.bottom-right {
    background-color: whitesmoke;
    position: absolute;
    width: 40%;
    height: 150px;
    top: 450px;
    left: 480px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    
}


.bottom-right-1 {
    background-color: transparent;
    position: absolute;
    width: 145px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    z-index: 1;
    left: 10px;
    top: 20px;
    font-size: 15px;

}

.bottom-right-2 {
    background-color: transparent;
    position: absolute;
    width: 145px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    z-index: 1;
    left: 10px;
    top: 80px;
    font-size: 15px;

}

.bottom-right-3 {
    background-color: transparent;
    position: absolute;
    width: 145px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    z-index: 1;
    left: 170px;
    top: 20px;
    font-size: 15px;

    
}

.bottom-right-4 {
    background-color: transparent;
    position: absolute;
    width: 145px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    z-index: 1;
    left: 170px;
    top: 80px;

    
}



.opponent-poke {
    background-color: transparent;
    position: absolute;
    width: 230px;
    height: 200px;
    top: 150px;
    left: calc(550px - 90px);
    z-index: 2;
    /*
    border-color: black;
    border-style: solid;
    border-width: 1px;*/
}

.user-poke {
    background-color: transparent;
    position: absolute;
    width: 230px;
    height: 200px;
    left: 90px;
    top: 220px;
    z-index: 2;
    /*
    border-color: black;
    border-style: solid;
    border-width: 1px;*/
}

.user-hp {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 50px;
    left: calc(600px - 250px);
    top: 380px;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.opponent-hp {
    background-color: white;
    position: absolute;
    width: 200px;
    height: 50px;
    left: calc(550px - 75px);
    top: 80px;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.centerPokemon {
    position:absolute;
    top: 0%;
    left: 30px;
    width: 70%;
    height: 85%;
}

.centerPokemonPlayer {
    position:absolute;
    bottom: -15%;
    left: 0px;
    width: 120%;
    height: 80%;
}

.centerOption {
    position: absolute;
	margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.bottom-right-1 > a {
	text-decoration: none;
}

.bottom-right-2 > a {
	text-decoration: none;
}

.bottom-right-3 > a {
	text-decoration: none;
}

.bottom-right-4 > a {
	text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: orangered;
}


.hp-bar-fill {
    position: absolute;
    height: 18px;
    max-width: 160px;
    border-radius: 30px;
    background: #ADFF2F;
    margin: 0;
    
}

.centerbackOption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.playerShake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.3s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
    position: absolute;
}

@keyframes shake {
   /* 0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); } */
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
 

}

.opponentShake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.3s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
    position: absolute;
}


.playerAttack {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: attack 0.6s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
}

.oppoAttack {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: oppoattack 0.6s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
}

@keyframes attack {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(300px, -10px); width: 60%; height: 70%}
    100% { transform: translate(0px, 0px); }
 

}

@keyframes oppoattack {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(-280px, 10px); width: 60%; height: 75% }
    100% { transform: translate(0px, 0px); }
 

}


